---
const redirectTo = "/";
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectTo}`} />
    <link rel="canonical" href={redirectTo} />
  </head>
  <body>
    <p>Redirecting to <a href={redirectTo}>Home</a>...</p>
  </body>
</html>
